---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="About Me"
    description="Lorem ipsum dolor sit amet"
    pubDate={new Date("January 01 2025")}
    heroImage="/blog-placeholder-about.jpg"
>
    <article>
        <p>
            Hello! My name is <strong>Carlos Javier Blanco</strong>. I am
            currently pursuing a degree in Computer Engineering and have a deep
            passion for technology and programming. Over the years, I have honed
            my skills in various areas of technology, particularly in
            competitive programming and web development.
        </p>
        <p>
            As a <strong>Competitive Programmer</strong>, I have participated in
            numerous competitions and have been awarded several medals for my
            performance. One of my significant achievements is earning a bronze
            medal in the prestigious ICPC (International Collegiate Programming
            Contest).
        </p>
        <p>
            I am also a <strong>Full Stack Web Developer</strong>, with
            experience in both front-end and back-end development. My technical
            expertise is complemented by my background in customer service,
            where I have developed strong communication and problem-solving
            skills.
        </p>
        <p>
            Additionally, I am passionate about education and have experience
            teaching programming and computer science fundamentals. I find great
            joy in sharing my knowledge and helping others develop their skills
            in the ever-evolving field of technology.
        </p>
        <p>
            Thank you for visiting Astro White-Tech. I look forward to sharing
            my insights and experiences with you. Together, let's explore the
            exciting world of programming, science, and technology.
        </p>
        <p>Sincerely,<br />Carlos Javier Blanco</p>
    </article>
</Layout>
