---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={"Astro White-Tech"} description={"personal blog"} />
    </head>
    <body>
        <Header />
        <main>
            <h1>👨🏻‍💻 Hello, Coder!</h1>
            <article>
                <h5>About Astro White-Tech</h5>
                <p>
                    Hello everyone! Welcome to <strong>Astro White-Tech</strong
                    >, a personal space where I share my experiences, knowledge,
                    and discoveries in the fascinating world of technology. I am
                    Carlos Blanco, a passionate enthusiast of programming,
                    science, and all things related to technological
                    advancements.
                </p>
                <p>On this web site, you will find articles about:</p>
                <ul>
                    <li>
                        Programming: from basic tutorials to advanced projects.
                    </li>
                    <li>
                        Science: exploration of scientific concepts and their
                        applications.
                    </li>
                    <li>
                        Technology: news, analysis, and trends in the tech
                        world.
                    </li>
                    <li>
                        Competitive programming: challenges and solutions to
                        improve your skills.
                    </li>
                    <li>
                        Algorithms: design, analysis, and optimization of
                        algorithms.
                    </li>
                </ul>
                <p>
                    I hope this blog serves as a source of inspiration and
                    learning for all tech enthusiasts. I am excited to share
                    this journey with you and to learn together. Thank you for
                    joining Astro White-Tech!
                </p>
                <p>Explore, learn, and enjoy!</p>
                <p>With gratitude,<br />Carlos</p>
            </article>
        </main>

        <Footer />
    </body>
</html>
